:root{
    --clr-primary:hsl(172, 67%, 45%);
    --clr-dark:hsl(183, 100%, 15%);
    --clr-gray-cyan:hsl(184, 14%, 56%);
    --clr-light-gray:hsl(185, 41%, 84%);
    --clr-chalk:hsl(189, 41%, 97%);
    --clr-white:hsl(0, 0%, 100%);
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background-color: var(--clr-light-gray);
}
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.input--container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.logo{
  padding: 3.5rem;
}
h2{
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: grey;
}
.splitter--container{
    padding: 1rem;
    display: flex;
    background-color: var(--clr-white);
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.input{
    width: 100%;
    padding: 6px 0;
    background-color: var(--clr-chalk);
    border: none;
    color: var(--clr-dark);
    font-weight: 700;
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    text-align: right; 
    -webkit-appearance: none;
}
.tip-grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 15px;
}
.radio-btn, .custom--tip input{
    width: 100%;
    background-color: var(--clr-dark);
    color: var(--clr-white);
    border-radius: 5px;
    padding: .4rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    border: none;
}
.custom--tip input{
    width: calc(100% - 10px);
    background-color: var(--clr-light-gray);
    border: none;
    color: var(--clr-dark);
    text-align: center;
    
}
.output--container{
    color: var(--clr-white);
    background-color: var(--clr-dark);
    margin: 1rem;
    padding: 1rem;
    border-radius: 12px;
    min-width: 300px; 
}
.final{
    display: flex;
    justify-content: space-around;
}
.final h1{
    color: var(--clr-primary);
} 
.final h3{
    margin: 20px 0 0 0;
    padding: 0;  
    font-size: 1.1rem;
}
.final h4{
  margin: 0;
  padding: 0;
  color: var(--clr-gray-cyan);
  font-size: .8rem;
}
.reset-btn{
    width: 100%;
    background-color: var(--clr-primary);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: .6rem;
    font-weight: 700;
    color: var(--clr-dark);
    cursor: pointer;
}
.total--final{
    padding-bottom: 30px;
}
.radio-btn:focus{
    background-color: var(--clr-primary);
    color: var(--clr-dark);
}

@media (max-width: 732px) {
   .splitter--container{
    flex-direction: column;
   } 
   .output--container{
    margin: 0;
   }
   .final{
    justify-content: space-between;
   }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}